target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/architecture.html
!**/src/main/resources/architecture/architecture.JSON

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Environment ###
.env
.env.local
.env.*.local

### Log files ###
*.log
